body
{
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.0, rgb(0,0,0)),
		color-stop(1.0, rgb(75,75,75)) );
/*# if(f.common) */
	background: -moz-linear-gradient(
		center bottom,
		rgb(75,75,75),
		rgb(0,0,0) );
/*# */
	background-repeat: repeat-x;
	background-color: rgb(75,75,75);
	font-family: 'OFL Sorts Mill Goudy TT', arial, serif;
	font-weight: bold;
	margin: 0px;
}

input, button, #graphcanvas
{
	font-family: 'OFL Sorts Mill Goudy TT', arial, serif;
	font-weight: bold;
	margin: 0px;
	border-radius: 5px;
/*# if(f.common) */
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
/*# */
	background-color: transparent;
}

#header
{
	color: #fff;
	opacity: 0.7;
	font-size: 250%;
	text-shadow: 15px 15px 15px rgba(255,255,255,0.7);
	font-family: Coalition;
	text-align: center;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255,255,255,0.4)));
	-webkit-transition: opacity 1s ease-in-out;
/*# if(f.common) */
	box-reflect: below 0px;
	-moz-box-reflect: below 0px;
	-o-box-reflect: below 0px;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
/*# */
	cursor: help;
}

#header:hover
{
	opacity: 1.0;
}

#ui
{
	position: absolute;
	left: 5px;
	top: 5px;
	width: auto;
	height: auto;
}

@font-face
{
	font-family: Coalition;
	src: url(Coalition.ttf);
}

#gui
{
	margin-top: 5px;
}

#numpad
{
	width: auto;
	height: auto;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255,255,255,0.4)));
/*# if(f.common) */
	-moz-box-reflect: below 0px;
	-o-box-reflect: below 0px;
	box-reflect: below 0px;
/*# */
	float: right;
}

button
{
	border-color: gray;
	margin: 0px 0px 0px 0px;
	width: 65px;
	height: 30px;
	color: white;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	-webkit-transition: all 1s ease-in-out;
/*# if(f.common) */
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
/*# */
}

#numpad button:nth-child(15n+6), #numpad button:nth-child(15n+9)
{
	margin-left: 5px;
}

button.op
{
	background-color: rgba(255,0,0,0.2);
	font-family: 'Vollkorn', arial, serif;
}
button.tri
{
	background-color: rgba(100,255,0,0.2);
}
button.exp
{
	background-color: rgba(255,0,255,0.2);
}
button.sta
{
	background-color: rgba(255,100,0,0.2);
}

#calculate
{
	width: 14%;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
/*# if(f.common) */
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
/*# */
	height: 35px;
	margin-left: 5px;
}

#numpad div
{
	display: inline-block;
}

button:hover
{
	background-color: rgba(0,255,255,0.3);
}

#typebox, #graphcanvas
{
	width: 80%;
	height: 30px;
	text-align: right;
	font-size: 130%;
	background-color: transparent;
	color: #fff;
	border-color: rgba(150,150,150,0.7);
	text-shadow: 5px 5px 5px rgba(255,255,255,0.4);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
	-webkit-transition: all 2s ease-in-out;
/*# if(f.common) */
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
	transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
/*# */
}

#graphcanvas
{
	display: block;
	height: 90%;
	background-color: rgba(255,255,255,0.5);
	margin-left: auto;
	margin-right: auto;
}

#typebox:focus
{
	background-color: rgba(0,255,255,0.1);
}

#results, #graph
{
	-webkit-transition: all 2s ease-in-out;
/*# if(f.common) */
	transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
/*# */
	width: 100%;
	height: 400px;
	overflow: hidden;
}

#status
{
	text-align: center;
	margin-top: 2px;
	color: #fff;
}

#results.hidden, #graph.hidden
{
	height: 0px;
}

#results
{
	text-shadow: 5px 5px 5px rgba(0,0,0,0.4);
	margin-top: 50px;
	color: white;
	font-size: 150%;
}

#results .error
{
	color: darkred;
}

#results .expression
{
	color: rgb(50,50,255);
}

#results .result
{
	text-align: right;
}

#info
{
	position: absolute;
	display: block;
	background-color: transparent;
	left: 50%;
	top: 100px;
	width: 500px;
	height: auto;
	color: #fff;
	margin-left: -250px;
	padding: 10px;
	opacity: 0.0;
	-webkit-transition: all 2s ease-in-out;
	-webkit-transform: rotate(360deg);
/*# if(f.common) */
	transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
/*# */
}

#info.active
{
	opacity: 1.0;
	background-color: rgba(0,255,255,0.3);
	-webkit-transform: rotate(0deg);
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 15px rgba(0,255,255,0.3);
/*# if(f.common) */
	transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0,255,255,0.3);
	-moz-box-shadow: 0px 0px 15px rgba(0,255,255,0.3);
	-o-box-shadow: 0px 0px 15px rgba(0,255,255,0.3);
/*# */
}

#info a
{
	color: #fff;
}
